/* \*/
* html #tlc, * html #trc {height: 1%;}
/* */

#tlc, #trc { zoom: 1 }

body
	{
	margin: 0;
	padding: 0;
	background-color: white;
	font-size: 100.01%;
	}

.box
	{
	position: relative;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
    margin-bottom: 10px;
	padding: 0;
	text-align: center;
	width:100%;				/* <-- use this to tie width to viewport size */
    /*width: 55em;*/				/* <-- use this for a set width */
	height: 100%;
    background-color: #eeeeee;;
	}

.content
	{
	padding:3em;
    margin-left:auto;
    margin-right:auto;
	}

.content h1
	{
	color: #016C96;
	font-weight: bold;
	font-size: 1.2em;
	font-family: helvetica, geneva, arial, sans-serif;
    text-align: center;
	}

.content p
	{
	color:#3b3b3b;
	font-size: 1em;
	line-height: 1.3em;
	font-family: arial, helvetica, sans-serif;
	}

/* ---=== border code follows ===--- */
/*
	tlc = top left corner
	trc = top right corner
	blc = bottom left corner
	brc = bottom right corner
	lb = left border
	rb = right border
	tb = top border
	bb = bottom border
*/

.tlc, .trc, .blc, .brc
	{
	background-color: transparent;
	background-repeat: no-repeat;
	}

.tlc
	{
	background-image:url(images/tlc.gif);
	background-position: 0% 0%;
	}

.trc
	{
	background-image:url(images/trc.gif);
	background-position: 100% 0%;
	}

.blc
	{
	background-image:url(images/blc.gif);
	background-position: 0% 100%;
	}

.brc
	{
	background-image:url(images/brc.gif);
	background-position: 100% 100%;
	}

.tb, .bb
	{
	background-color: transparent;
	background-repeat: repeat-x;
	}

.tb
	{
	background-image:url(images/tb.gif);
	background-position: 0% 0%;
	}

.bb
	{
	background-image:url(images/bb.gif);
	background-position: 50% 100%;
	}

.rb
	{
	background-image:url(images/r.gif);
	background-position: 100% 0%;
	background-repeat: repeat-y;
	}

.lb
	{
	background-image:url(images/l.gif);
	background-position: 0% 100%;
	background-repeat: repeat-y;
	}
